div.wjgui_window {width:400px;}
div.wjgui_window div.wjgui_window_main div.wjgui_window_content {min-height:5em;overflow-y:auto;position:relative;}
div.wjgui_window div.wjgui_window_buttons div.wjgui_window_content {position:relative;}
div.wjgui_window div.wjgui_window_buttons div.wjgui_window_content div.wjgui_statusbar {position:absolute;left:0;top:0.5em;}
div.wjgui_window div.wjgui_window_center {margin-right:8px;margin-left:8px;}
div.wjgui_window div.wjgui_window_title div.wjgui_window_column {height:34px;overflow:hidden;}
div.wjgui_window div.wjgui_window_bottom div.wjgui_window_column {height:8px;}
div.wjgui_window div.wjgui_window_title  div.wjgui_window_left {background-position:left -24px;}
div.wjgui_window div.wjgui_window_title  div.wjgui_window_center {background-position:left -58px;}
div.wjgui_window div.wjgui_window_title  div.wjgui_window_right {background-position:right -92px;}
div.wjgui_window div.wjgui_window_title div.wjgui_window_content {background-position:0px 7px;}
div.wjgui_window div.wjgui_window_bottom div.wjgui_window_left {background-position:left -0px;}
div.wjgui_window div.wjgui_window_bottom div.wjgui_window_center {background-position:left -8px;}
div.wjgui_window div.wjgui_window_bottom div.wjgui_window_right {background-position:right -16px;}
div.wjgui_window div.wjgui_window_body div.wjgui_window_right {background-position:right 0px;}
div.wjgui_window div.wjgui_window_body div.wjgui_window_left {background-position:left 0px;}
div.wjgui_window div.wjgui_window_title h1 {margin:0;}
div.wjgui_window div.wjgui_window_title div.wjgui_window_closebutton {position:absolute;top:0;right:0;margin-right:0.5em;margin-top:0.33em;padding:0;width:21px;height:21px;}
div.wjgui_window div.wjgui_window_title div.wjgui_window_closebutton {background-position:left 0px;}
div.wjgui_window div.wjgui_window_title div.wjgui_window_closebutton:hover {background-position:left -21px;}
div.wjgui_window div.wjgui_window_title div.wjgui_window_closebutton:active {background-position:left -42px;}
div.wjgui_window div.wjgui_window_main div.wjgui_window_messageicon {float:left;width:80px;height:80px;}
div.wjgui_window div.wjgui_window_main div.wjgui_window_message {margin-top:24px;float:left;width:300px;}
div.wjgui_window div.wjgui_window_title div.wjgui_window_content h1 {margin-left:24px;}
div.wjgui_windowtheme_magenta div.wjgui_window_title  div.wjgui_window_left {background-position:left -126px;}
div.wjgui_windowtheme_magenta div.wjgui_window_title  div.wjgui_window_center {background-position:left -160px;}
div.wjgui_windowtheme_magenta div.wjgui_window_title  div.wjgui_window_right {background-position:right -194px;}
div.wjgui_windowtheme_purple div.wjgui_window_title  div.wjgui_window_left {background-position:left -228px;}
div.wjgui_windowtheme_purple div.wjgui_window_title  div.wjgui_window_center {background-position:left -262px;}
div.wjgui_windowtheme_purple div.wjgui_window_title  div.wjgui_window_right {background-position:right -296px;}
div.wjgui_windowtheme_green div.wjgui_window_title  div.wjgui_window_left {background-position:left -330px;}
div.wjgui_windowtheme_green div.wjgui_window_title  div.wjgui_window_center {background-position:left -364px;}
div.wjgui_windowtheme_green div.wjgui_window_title  div.wjgui_window_right {background-position:right -398px;}
div.wjgui_windowtheme_magenta div.wjgui_window_title div.wjgui_window_closebutton {background-position:left -63px;}
div.wjgui_windowtheme_magenta div.wjgui_window_title div.wjgui_window_closebutton:hover {background-position:left -84px;}
div.wjgui_windowtheme_magenta div.wjgui_window_title div.wjgui_window_closebutton:active {background-position:left -105px;}
div.wjgui_windowtheme_purple div.wjgui_window_title div.wjgui_window_closebutton {background-position:left -126px;}
div.wjgui_windowtheme_purple div.wjgui_window_title div.wjgui_window_closebutton:hover {background-position:left -147px;}
div.wjgui_windowtheme_purple div.wjgui_window_title div.wjgui_window_closebutton:active {background-position:left -168px;}
div.wjgui_windowtheme_green div.wjgui_window_title div.wjgui_window_closebutton {background-position:left -189px;}
div.wjgui_windowtheme_green div.wjgui_window_title div.wjgui_window_closebutton:hover {background-position:left -210px;}
div.wjgui_windowtheme_green div.wjgui_window_title div.wjgui_window_closebutton:active {background-position:left -231px;}
div.wjgui_windowtheme_magenta div.wjgui_window_title div.wjgui_window_content {background-position:0px -21px;}
div.wjgui_windowtheme_purple div.wjgui_window_title div.wjgui_window_content {background-position:0px -49px;}
div.wjgui_windowtheme_green div.wjgui_window_title div.wjgui_window_content {background-position:0px -77px;}
button.wjgui_button {padding:0;height:26px;margin-right:3px;width:100px;}
button.wjgui_button {width:100px;}
button.wjgui_button_wider {width:150px;}
button.wjgui_button_wide {width:200px;}
button.wjgui_button_extrawide {width:250px;}
button.wjgui_button div.wjgui_button_column {height:24px;}
button.wjgui_button div.wjgui_button_center {margin-left:12px;margin-right:12px;}
button.wjgui_button:active div.wjgui_button_left {background-position:left -72px;}
button.wjgui_button:active div.wjgui_button_center {background-position:left -96px;}
button.wjgui_button:active div.wjgui_button_right {background-position:right -120px;}
button.wjgui_button_nodefault div.wjgui_button_left {background-position:left -144px;}
button.wjgui_button_nodefault div.wjgui_button_center {background-position:left -168px;}
button.wjgui_button_nodefault div.wjgui_button_right {background-position:right -192px;}
button.wjgui_button_default div.wjgui_button_left {background-position:left -216px;}
button.wjgui_button_default div.wjgui_button_center {background-position:left -240px;}
button.wjgui_button_default div.wjgui_button_right {background-position:right -264px;}
button.wjgui_button:focus div.wjgui_button_left,
button.wjgui_button:hover div.wjgui_button_left {background-position:left -288px;}
button.wjgui_button:focus div.wjgui_button_center,
button.wjgui_button:hover div.wjgui_button_center {background-position:left -312px;}
button.wjgui_button:focus div.wjgui_button_right,
button.wjgui_button:hover div.wjgui_button_right {background-position:right -336px;}
div.wjgui_windowtheme_magenta button.wjgui_button_default div.wjgui_button_left {background-position:left -360px;}
div.wjgui_windowtheme_magenta button.wjgui_button_default div.wjgui_button_center {background-position:left -384px;}
div.wjgui_windowtheme_magenta button.wjgui_button_default div.wjgui_button_right {background-position:right -408px;}
div.wjgui_windowtheme_magenta button.wjgui_button:focus div.wjgui_button_left,
div.wjgui_windowtheme_magenta button.wjgui_button:hover div.wjgui_button_left {background-position:left -432px;}
div.wjgui_windowtheme_magenta button.wjgui_button:focus div.wjgui_button_center,
div.wjgui_windowtheme_magenta button.wjgui_button:hover div.wjgui_button_center {background-position:left -456px;}
div.wjgui_windowtheme_magenta button.wjgui_button:focus div.wjgui_button_right,
div.wjgui_windowtheme_magenta button.wjgui_button:hover div.wjgui_button_right {background-position:right -480px;}
div.wjgui_windowtheme_purple button.wjgui_button_default div.wjgui_button_left {background-position:left -504px;}
div.wjgui_windowtheme_purple button.wjgui_button_default div.wjgui_button_center {background-position:left -528px;}
div.wjgui_windowtheme_purple button.wjgui_button_default div.wjgui_button_right {background-position:right -552px;}
div.wjgui_windowtheme_purple button.wjgui_button:focus div.wjgui_button_left,
div.wjgui_windowtheme_purple button.wjgui_button:hover div.wjgui_button_left {background-position:left -576px;}
div.wjgui_windowtheme_purple button.wjgui_button:focus div.wjgui_button_center,
div.wjgui_windowtheme_purple button.wjgui_button:hover div.wjgui_button_center {background-position:left -600px;}
div.wjgui_windowtheme_purple button.wjgui_button:focus div.wjgui_button_right,
div.wjgui_windowtheme_purple button.wjgui_button:hover div.wjgui_button_right {background-position:right -624px;}
div.wjgui_windowtheme_green button.wjgui_button_default div.wjgui_button_left {background-position:left -648px;}
div.wjgui_windowtheme_green button.wjgui_button_default div.wjgui_button_center {background-position:left -672px;}
div.wjgui_windowtheme_green button.wjgui_button_default div.wjgui_button_right {background-position:right -696px;}
div.wjgui_windowtheme_green button.wjgui_button:focus div.wjgui_button_left,
div.wjgui_windowtheme_green button.wjgui_button:hover div.wjgui_button_left {background-position:left -720px;}
div.wjgui_windowtheme_green button.wjgui_button:focus div.wjgui_button_center,
div.wjgui_windowtheme_green button.wjgui_button:hover div.wjgui_button_center {background-position:left -744px;}
div.wjgui_windowtheme_green button.wjgui_button:focus div.wjgui_button_right,
div.wjgui_windowtheme_green button.wjgui_button:hover div.wjgui_button_right {background-position:right -768px;}
div.wjgui_window button.wjgui_button:active div.wjgui_button_left {background-position:left -72px;}
div.wjgui_window button.wjgui_button:active div.wjgui_button_center {background-position:left -96px;}
div.wjgui_window button.wjgui_button:active div.wjgui_button_right {background-position:right -120px;}
button.wjgui_button div.wjgui_button_content {line-height:24px;}
div.wjgui_window div.wjgui_window_main div.wjgui_window_content button.wjgui_button {height:34px;}
div.wjgui_window div.wjgui_window_main div.wjgui_window_content button.wjgui_button div.wjgui_button_column {height:32px;}
div.wjgui_window div.wjgui_window_main div.wjgui_window_content button.wjgui_button div.wjgui_button_center {margin-left:17px;margin-right:17px;}
div.wjgui_window div.wjgui_window_main div.wjgui_window_content button.wjgui_button_default div.wjgui_button_left {background-position:left -0px;}
div.wjgui_window div.wjgui_window_main div.wjgui_window_content button.wjgui_button_default div.wjgui_button_center {background-position:left -32px;}
div.wjgui_window div.wjgui_window_main div.wjgui_window_content button.wjgui_button_default div.wjgui_button_right {background-position:right -64px;}
div.wjgui_window div.wjgui_window_main div.wjgui_window_content button.wjgui_button:focus div.wjgui_button_left,
div.wjgui_window div.wjgui_window_main div.wjgui_window_content button.wjgui_button:hover div.wjgui_button_left {background-position:left -96px;}
div.wjgui_window div.wjgui_window_main div.wjgui_window_content button.wjgui_button:focus div.wjgui_button_center,
div.wjgui_window div.wjgui_window_main div.wjgui_window_content button.wjgui_button:hover div.wjgui_button_center {background-position:left -128px;}
div.wjgui_window div.wjgui_window_main div.wjgui_window_content button.wjgui_button:focus div.wjgui_button_right,
div.wjgui_window div.wjgui_window_main div.wjgui_window_content button.wjgui_button:hover div.wjgui_button_right {background-position:right -160px;}
div.wjgui_window div.wjgui_window_main div.wjgui_window_content button.wjgui_button:active div.wjgui_button_left {background-position:left -192px;}
div.wjgui_window div.wjgui_window_main div.wjgui_window_content button.wjgui_button:active div.wjgui_button_center {background-position:left -224px;}
div.wjgui_window div.wjgui_window_main div.wjgui_window_content button.wjgui_button:active div.wjgui_button_right {background-position:right -256px;}
div.wjgui_window_main div.wjgui_window_content button.wjgui_button_nodefault div.wjgui_button_left {background-position:left -0px;}
div.wjgui_window div.wjgui_window_main div.wjgui_window_content button.wjgui_button_nodefault div.wjgui_button_center {background-position:left -32px;}
div.wjgui_window div.wjgui_window_main div.wjgui_window_content button.wjgui_button_nodefault div.wjgui_button_right {background-position:right -64px;}
div.wjgui_window div.wjgui_window_main div.wjgui_window_content div.wjgui_button_content {line-height:32px;}
button.wjgui_button_disabled:active div.wjgui_button_left,
button.wjgui_button_disabled:hover div.wjgui_button_left,
button.wjgui_button_disabled div.wjgui_button_left {background-position:left -0px;}
button.wjgui_button_disabled:active div.wjgui_button_center,
button.wjgui_button_disabled:hover div.wjgui_button_center,
button.wjgui_button_disabled div.wjgui_button_center {background-position:left -24px;}
button.wjgui_button_disabled:active div.wjgui_button_right,
button.wjgui_button_disabled:hover div.wjgui_button_right,
button.wjgui_button_disabled div.wjgui_button_right {background-position:right -48px;}
div.wjgui_window div.wjgui_window_main div.wjgui_window_content button.wjgui_button_disabled:active div.wjgui_button_left,
div.wjgui_window div.wjgui_window_main div.wjgui_window_content button.wjgui_button_disabled:hover div.wjgui_button_left,
div.wjgui_window div.wjgui_window_main div.wjgui_window_content button.wjgui_button_disabled div.wjgui_button_left {background-position:left -288px;}
div.wjgui_window div.wjgui_window_main div.wjgui_window_content button.wjgui_button_disabled:active div.wjgui_button_center,
div.wjgui_window div.wjgui_window_main div.wjgui_window_content button.wjgui_button_disabled:hover div.wjgui_button_center,
div.wjgui_window div.wjgui_window_main div.wjgui_window_content button.wjgui_button_disabled div.wjgui_button_center {background-position:left -320px;}
div.wjgui_window div.wjgui_window_main div.wjgui_window_content button.wjgui_button_disabled:active div.wjgui_button_right,
div.wjgui_window div.wjgui_window_main div.wjgui_window_content button.wjgui_button_disabled:hover div.wjgui_button_right,
div.wjgui_window div.wjgui_window_main div.wjgui_window_content button.wjgui_button_disabled div.wjgui_button_right {background-position:right -352px;}
div.wjgui_window,
div.wjgui_window p {font-family:Arial, Helvetica, Verdana, sans-serif;color:#000000;}
div.wjgui_window h1,
div.wjgui_window h2,
div.wjgui_window h3,
div.wjgui_window h4,
div.wjgui_window h5,
div.wjgui_window h6 {font-family:Arial, Helvetica, Verdana, sans-serif;}
div.wjgui_window_right,
div.wjgui_window_left {background-repeat:no-repeat;}
div.wjgui_window_buttons div.wjgui_window_content {text-align:right;}
div.wjgui_window_title  div.wjgui_window_left,
div.wjgui_window_title  div.wjgui_window_center,
div.wjgui_window_title  div.wjgui_window_right,
div.wjgui_window_bottom div.wjgui_window_left,
div.wjgui_window_bottom div.wjgui_window_center,
div.wjgui_window_bottom div.wjgui_window_right {background-image:url("/lib/wjgui/skins/lucid/images/window.png");}
div.wjgui_window_buttons div.wjgui_window_content div.wjgui_statusbar {font-family:Arial, Helvetica, Verdana, sans-serif;color:#000000;font-size:0.75em;}
div.wjgui_window_bottom {line-height:1px;}
div.wjgui_window_title div.wjgui_window_content h1 {}
div.wjgui_window_bottom div.wjgui_window_content {font-size:1px;}
div.wjgui_window_body div.wjgui_window_right,
div.wjgui_window_body div.wjgui_window_left {background-image:url("/lib/wjgui/skins/lucid/images/window-verticalshadows.png");background-repeat:repeat-y;}
div.wjgui_window_body div.wjgui_window_center {background-color:#d6d7d7;}
div.wjgui_window_title div.wjgui_window_closebutton {background-image:url("/lib/wjgui/skins/lucid/images/close.png");background-color:transparent;background-repeat:no-repeat;}
div.wjgui_window_title h1 {color:#ffffff;font-family:Arial, Helvetica, Verdana, sans-serif;font-weight:bold;font-size:0.75em;padding-top:0.7em;}
div.wjgui_window_blink div.wjgui_window_title  h1 {color:#059fc2;}
div.wjgui_window_main div.wjgui_window_content button.wjgui_button {font-size:0.75em;}
div.wjgui_window_main div.wjgui_window_message {font-family:Arial, Helvetica, Verdana, sans-serif;font-size:0.75em;font-weight:normal;}
div.wjgui_window_modality {}
div.wjgui_window div.wjgui_window_title div.wjgui_window_content {background-image:url("/lib/wjgui/skins/lucid/images/window-icon.png");background-repeat:no-repeat;}
div.wjgui_window.wjgui_window_loading div.wjgui_window_title div.wjgui_window_content {background-image:url("/lib/wjgui/skins/lucid/images/window-load.gif");}
div.wjgui_window_main div.wjgui_window_messageicon {background-repeat:no-repeat;background-position:center center;}
div.wjgui_window_main div.wjgui_window_messageicon_alert {background-image:url("/lib/wjgui/skins/lucid/images/window-icon-alert.png");}
div.wjgui_window_main div.wjgui_window_messageicon_booleanconfirm {background-image:url("/lib/wjgui/skins/lucid/images/window-icon-booleanConfirm.png");}
div.wjgui_window_main div.wjgui_window_messageicon_confirm {background-image:url("/lib/wjgui/skins/lucid/images/window-icon-confirm.png");}
div.wjgui_window_main div.wjgui_window_messageicon_notice {background-image:url("/lib/wjgui/skins/lucid/images/window-icon-notice.png");}
div.wjgui_window_main div.wjgui_window_messageicon_ok {background-image:url("/lib/wjgui/skins/lucid/images/window-icon-ok.png");}
div.wjgui_window_main div.wjgui_window_messageicon_prompt {background-image:url("/lib/wjgui/skins/lucid/images/window-icon-prompt.png");}
button.wjgui_button {background-color:transparent;border:none;cursor:default;font-family:Arial, Helvetica, Verdana, sans-serif;font-size:0.75em;font-weight:normal;}
button.wjgui_button div.wjgui_button_content {font-family:Arial, Helvetica, Verdana, sans-serif;}
button.wjgui_button div.wjgui_button_left,
button.wjgui_button div.wjgui_button_right,
button.wjgui_button div.wjgui_button_center {background-image:url("/lib/wjgui/skins/lucid/images/buttons.png");}
div.wjgui_window_main div.wjgui_window_content button.wjgui_button div.wjgui_button_left,
div.wjgui_window_main div.wjgui_window_content button.wjgui_button div.wjgui_button_right,
div.wjgui_window_main div.wjgui_window_content button.wjgui_button div.wjgui_button_center {background-image:url("/lib/wjgui/skins/lucid/images/contentbuttons.png");}
button.wjgui_button div.wjgui_button_center {color:#000000;}
div.wjgui_window_main div.wjgui_window_content button.wjgui_button div.wjgui_button_center {color:#01a1c1;}
button.wjgui_button div.wjgui_button_left,
button.wjgui_button div.wjgui_button_right {background-repeat:no-repeat;}
button.wjgui_button div.wjgui_button_center {background-repeat:repeat-x;}
button.wjgui_button_disabled:active div.wjgui_button_center,
button.wjgui_button_disabled:hover div.wjgui_button_center,
button.wjgui_button_disabled div.wjgui_button_center {color:#888888;}
div.wjgui_window_main div.wjgui_window_content button.wjgui_button_disabled:active div.wjgui_button_center,
div.wjgui_window_main div.wjgui_window_content button.wjgui_button_disabled:hover div.wjgui_button_center,
div.wjgui_window_main div.wjgui_window_content button.wjgui_button_disabled div.wjgui_button_center {color:#888888;}
div.wjgui_windowtheme_magenta button.wjgui_button div.wjgui_button_column {}
div.wjgui_windowtheme_purple button.wjgui_button div.wjgui_button_column {}
div.wjgui_windowtheme_green button.wjgui_button div.wjgui_button_column {}
div.wjgui_windowtheme_magenta div.wjgui_window_main div.wjgui_window_content button.wjgui_button div.wjgui_button_column {}
div.wjgui_windowtheme_purple div.wjgui_window_main div.wjgui_window_content button.wjgui_button div.wjgui_button_column {}
div.wjgui_windowtheme_green div.wjgui_window_main div.wjgui_window_content button.wjgui_button div.wjgui_button_column {}
