RewriteEngine on

RewriteCond %{HTTP_USER_AGENT} .*MSIE\ 6\.0.*
RewriteCond %{REQUEST_URI} ^(.*)\.png$
RewriteRule buttons\.png$          %1.gif [R=301,L]

RewriteCond %{HTTP_USER_AGENT} .*MSIE\ 6\.0.*
RewriteCond %{REQUEST_URI} ^(.*)\.png$
RewriteRule maps/window\.png$          %1.gif [R=301,L]

RewriteCond %{HTTP_USER_AGENT} .*MSIE\ 6\.0.*
RewriteCond %{REQUEST_URI} ^(.*)\.png$
RewriteRule maps/windowconnector\.png$          %1.gif [R=301,L]

RewriteCond %{HTTP_USER_AGENT} .*MSIE\ 6\.0.*
RewriteCond %{REQUEST_URI} ^(.*)\.png$
RewriteRule maps/window-vertical-shadows\.png$          %1.gif [R=301,L]
